name: Deploy Gallery to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages-evo-icons"
  cancel-in-progress: false

jobs:
  install:
    runs-on: ubuntu-latest

    outputs:
      NODE_VERSION: ${{ steps.nvm.outputs.NODE_VERSION }}

    steps:
      - name: Begin CI...
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

  deploy:
    needs: install
    environment:
      name: github-pages-evo-icons
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Start building...
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Build icons
        run: npm run build

      - name: Build gallery
        run: npm run build:gallery

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./gallery"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
